.icon {
  display: inline-flex;
  flex-shrink: 0;
  color: var(--rc-icon-primary);
}

.primary {
  color: var(--rc-icon-primary);
}

.secondary {
  color: var(--rc-icon-secondary);
}

.tertiary {
  color: var(--rc-icon-tertiary);
}

.error {
  color: var(--rc-icon-error);
}

.warning {
  color: var(--rc-icon-warning);
}

.success {
  color: var(--rc-icon-success);
}

.orange {
  color: var(--rc-icon-orange);
}

.info {
  color: var(--rc-icon-info);
}

.ai {
  color: var(--rc-icon-ai);
}

.accentPurple {
  color: var(--rc-icon-accent-purple);
}

.accentBlue {
  color: var(--rc-icon-accent-blue);
}

.accentOrange {
  color: var(--rc-icon-accent-orange);
}

.inverse {
  color: var(--rc-icon-inverse);
}

.disabled {
  color: var(--rc-icon-disabled);
}

.on-color {
  color: var(--rc-icon-on-color);
}

.inherit {
  color: currentColor;
}

.icon :global(svg) {
  display: block;
}
